body {
    background: url("https://img.freepik.com/premium-photo/blurred-sea-landscape_173948-2253.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
  }
  
  #quote-box {
    text-align: center;
    padding: 20px;
    background: 0.3;
    border-radius: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5 );
    max-width: 500px;
    margin: 20px;
    font-family: "Sofia", sans-serif;
  }
  
  #quote {
    font-size: 2rem;
    margin: 10px 0;
  }
  
  #author {
    font-size: 1.2rem;
    color: #32404a;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #21313d;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  